<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
  $(function () {
    Highcharts.chart('container', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Controlling<br>Faction',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          dataLabels: {
            enabled: true,
            distance: -50,
            style: {
              fontWeight: 'bold',
              color: 'white'
            }
          },
          startAngle: -90,
          endAngle: 90,
          center: ['50%', '75%']
        }
      },
      series: [{
        type: 'pie',
        name: 'Control Percentage',
        innerSize: '50%',
        data: [
            <% if @army_stats.any? %>
              <% @army_stats.each do |d| %>
                [ '<%=d[0]%>', <%=d[1].to_f/@total%> ],
              <% end %>
            <%else%>
            ["None", 1]
            <%end%>
        ]
      }]
    });
  });

</script>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="title-with-button"><h1><%= @location.name %></h1></div>
    <div class="button-in-title">
      <%= link_to "Report results for this location!", new_game_path({:id => @location.id }), class: "btn btn-lg btn-primary sg-games-games-create"%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div id="container" style="min-width: 510px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <% if @location.games.any? %>
        <div class="row">
          <div class="col-md-12">
            <h3>Games (<%= @location.games.count %>)</h3>
          </div>
        </div>
        <div class="row row-bordered">
          <div class="col-lg-12"><%= will_paginate @games %></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ol class="games">
              <%= render @games %>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><%= will_paginate @games %></div>
        </div>
    <% else %>
        <div class="row">
          <div class="col-md-12">
            <h3>Games (0)</h3>
          </div>
        </div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', locations_path %>
